In [1]:
import pandas as pd
from scripts import cleaning as cl

In [2]:
df = pd.read_excel('../data/BGG_Data_Set.xlsx')
df.head()

,ID,Name,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,Rating Average,BGG Rank,Complexity Average,Owned Users,Mechanics,Domains
0,174430.0,Gloomhaven,2017,1,4,120,14,42055,8.79244,1,3.8604,68323.0,"Action Queue, Action Retrieval, Campaign / Bat...","Strategy Games, Thematic Games"
1,161936.0,Pandemic Legacy: Season 1,2015,2,4,60,13,41643,8.61278,2,2.8405,65294.0,"Action Points, Cooperative Game, Hand Manageme...","Strategy Games, Thematic Games"
2,224517.0,Brass: Birmingham,2018,2,4,120,14,19217,8.66337,3,3.9129,28785.0,"Hand Management, Income, Loans, Market, Networ...",Strategy Games
3,167791.0,Terraforming Mars,2016,1,5,120,12,64864,8.43254,4,3.2406,87099.0,"Card Drafting, Drafting, End Game Bonuses, Han...",Strategy Games
4,233078.0,Twilight Imperium: Fourth Edition,NaN,3,6,NaN,14,13468,NaN,5,4.2219,16831.0,"Action Drafting, Area Majority / Influence, Ar...","Strategy Games, Thematic Games"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20346 entries, 0 to 20345
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  20330 non-null  float64
 1   Name                20346 non-null  object
 2   Year Published      18309 non-null  object
 3   Min Players         20346 non-null  int64
 4   Max Players         20346 non-null  int64
 5   Play Time           18312 non-null  object
 6   Min Age             20346 non-null  int64
 7   Users Rated         20346 non-null  int64
 8   Rating Average      18312 non-null  object
 9   BGG Rank            20346 non-null  int64
 10  Complexity Average  20346 non-null  float64
 11  Owned Users         20323 non-null  float64
 12  Mechanics           17809 non-null  object
 13  Domains             9665 non-null   object
dtypes: float64(3), int64(5), object(6)
memory usage: 2.2+ MB

In [4]:
df['Rating Average']= cl.clean_rating(df['Rating Average'])
df['Play Time']=cl.clean_play_time(df['Play Time'])
df['Year Published'] = cl.clean_year_published(df['Year Published'])
df['Mechanics'].fillna("Unknown", inplace=True)
df=cl.clean_player_count(df,'Min Players','Max Players')
df['Min Age'] = cl.clean_min_age(df['Min Age'])
df.drop(['Name','ID','Year Published'],axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20346 entries, 0 to 20345
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Min Players         20346 non-null  int64
 1   Max Players         20346 non-null  int64
 2   Play Time           18312 non-null  float64
 3   Min Age             20346 non-null  int64
 4   Users Rated         20346 non-null  int64
 5   Rating Average      18312 non-null  float64
 6   BGG Rank            20346 non-null  int64
 7   Complexity Average  20346 non-null  float64
 8   Owned Users         20323 non-null  float64
 9   Mechanics           20346 non-null  object
 10  Domains             9665 non-null   object
dtypes: float64(4), int64(5), object(2)
memory usage: 1.7+ MB

C:\Users\alpay\AppData\Local\Temp\ipykernel_17752\2701736515.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Mechanics'].fillna("Unknown", inplace=True)

In [5]:
df[df.duplicated(keep=False)]

,Min Players,Max Players,Play Time,Min Age,Users Rated,Rating Average,BGG Rank,Complexity Average,Owned Users,Mechanics,Domains
2865,2,4,70.0,12,1348,6.41875,2867,2.5252,2044.0,"Action Points, Modular Board",Strategy Games
3869,2,4,45.0,10,730,6.38802,3871,1.9000,1342.0,"Modular Board, Tile Placement","Abstract Games, Family Games"
13502,4,20,30.0,14,43,6.45349,13504,1.0000,144.0,"Acting, Memory, Team-Based Game",NaN
20343,2,4,45.0,10,730,6.38802,3871,1.9000,1342.0,"Modular Board, Tile Placement","Abstract Games, Family Games"
20344,4,20,30.0,14,43,6.45349,13504,1.0000,144.0,"Acting, Memory, Team-Based Game",NaN
20345,2,4,70.0,12,1348,6.41875,2867,2.5252,2044.0,"Action Points, Modular Board",Strategy Games

In [6]:
df.drop_duplicates(subset =None, inplace=True, keep='first')
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [Min Players, Max Players, Play Time, Min Age, Users Rated, Rating Average, BGG Rank, Complexity Average, Owned Users, Mechanics, Domains]
Index: []

In [7]:
df.isna().sum()

Min Players               0
Max Players               0
Play Time              2034
Min Age                   0
Users Rated               0
Rating Average         2034
BGG Rank                  0
Complexity Average        0
Owned Users              23
Mechanics                 0
Domains               10680
dtype: int64

In [8]:
df.to_csv('../data/cleaned_data_set_v1.csv',index=False)